<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav1)"/>

  <arg name="mrs_vins_world_frame" default="$(arg uav_name)/mrs_vins_world"/>
  <arg name="vins_world_frame" default="world"/>
  <arg name="fcu_frame" default="$(arg uav_name)/fcu"/>
  <arg name="vins_fcu_frame" default="$(arg uav_name)/vins_fcu"/>
  <arg name="camera_frame" default="$(arg uav_name)/bluefox_vio"/>

  <group ns="$(arg uav_name)">

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_vins_to_vins_origin" args="0.0 0.0 0.0 1.57 0.0 0.0 $(arg mrs_vins_world_frame) $(arg vins_world_frame)" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_vins_fcu_to_mrs_fcu" args="0.0 0.0 0.0 -1.57 0.0 -1.57 $(arg fcu_frame) $(arg vins_fcu_frame)" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_fcu_to_camera" args="0.15 0.0 0.0 0 0 0 $(arg fcu_frame) $(arg camera_frame)" />

    <node pkg="vins_republish" name="vins_republisher" type="VinsRepublisher" output="screen">

      <rosparam file="$(find vins_republish)/config/default.yaml" command="load" />

      <param name="uav_name" value="$(arg uav_name)"/>

      <remap from="~vins_odom_in" to="/vins_estimator/imu_propagate"/>
      <remap from="~vins_odom_out" to="~odom_out"/>

      <param name="fcu_frame" value="$(arg fcu_frame)"/>
      <param name="camera_frame" value="$(arg camera_frame)"/>
      <param name="mrs_vins_world_frame" value="$(arg mrs_vins_world_frame)"/>
      <param name="vins_fcu_frame" value="$(arg vins_fcu_frame)"/>

    </node>

    <node pkg="vins_republish" name="vins_republisher2" type="VinsRepublisher" output="screen">

      <rosparam file="$(find vins_republish)/config/default.yaml" command="load" />

      <param name="uav_name" value="$(arg uav_name)"/>

      <remap from="~vins_odom_in" to="/vins_estimator/odometry"/>
      <remap from="~vins_odom_out" to="~odom_out"/>

      <param name="fcu_frame" value="$(arg fcu_frame)"/>
      <param name="camera_frame" value="$(arg camera_frame)"/>
      <param name="mrs_vins_world_frame" value="$(arg mrs_vins_world_frame)"/>
      <param name="vins_fcu_frame" value="$(arg vins_fcu_frame)"/>

    </node>

  </group>

</launch>
